<div id="<%= dom_id prestation %>">
  <div class="row">
    <div class="col-2">
      <strong>Clientname:</strong>
      <%= prestation.ClientName %>

      <p>
        <strong>Date:</strong>
        <%= prestation.Date %>
      </p>

    </div>

    <div class="col-10">
        <strong>Description:</strong>
        <%= prestation.Description %>
    </div>

  </div>
</div>
