<div id="<%= dom_id prestation %>">
  <p>
    <strong>Clientname:</strong>
    <%= prestation.ClientName %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= prestation.Date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= prestation.Description %>
  </p>

</div>
