<div class="WelcomeBanner">
  <h2>Welcome Back !</h2>
</div>

<div class="MainContent">
  <h1>Editing prestation</h1>

  <%= render "form", prestation: @prestation %>

  <br>

  <div>
    <%= link_to "Back to services", "/prestations/new" %>
    <%= button_to "Destroy this service", @prestation, method: :delete %>
  </div>
</div>
