<div class="WelcomeBanner">
  <h2>Welcome Back !</h2>
</div>

<div class="MainContent">
  <h1 style="text-align: center" class="my-3">Service infos :</h1>
  <div style="background: #D8D8D8; padding:10px">
    <h1>Editing service</h1>

    <%= render "form", prestation: @prestation %>

    <br>

    <div>
      <%= link_to "Back to services", "/prestations/new" %>
      <div class="d-flex flex-col justify-content-end align-items-end">
        <%= button_to "Destroy this service", @prestation, method: :delete, class: "btn btn-light"%>
      </div>
    </div>
  </div>
</div>
