<h1>New prestation</h1>

<%= render "form", prestation: @prestation %>

<br>

<div id="prestations">
  <% @prestations.each do |prestation| %>
    <%= render prestation %>
    <p>
      <%= link_to "Show this prestation", prestation %>
    </p>
  <% end %>
</div>