<div class="MainContent">

  <h1 style="text-align: center">Services :</h1>

  <div style="background: #D8D8D8; padding:10px">
  <h1>New service</h1>

  <%= render "form", prestation: @prestation %>
  </div>
  <br>
  <h1>Service history</h1>

  <div id="prestations">
    <% @prestations.each do |prestation| %>
      <%= render prestation %>
      <p>
        <%= link_to "Show this prestation", prestation %>
      </p>
    <% end %>
  </div>
</div>

