<div class="WelcomeBanner">
  <h2>Welcome Back !</h2>
</div>

<div class="MainContent"v>

  <h1 style="text-align: center">Services :</h1>

  <div style="background: #D8D8D8; padding:10px">
  <h1>New service</h1>

  <%= render "form", prestation: @prestation %>
  </div>
  <br>
  <h1>Service history</h1>

  <div id="prestations">
    <% @prestations.each do |prestation| %>
      <%= render prestation %>
      <p>
        <%= link_to "Edit this prestation", edit_prestation_path(prestation) %>
      </p>
    <% end %>
  </div>
  <br><br>
</div>

