<div id="homeHead"  style="width: 100%">
  <div class="d-flex flex-row">
    <div class="col p-4">
      <p style="color:white" class="px-xl-5 pt-xxl-5">
        Ruby on rails : CRM
      </p>
      <p style="color:white ; font-size: 18px;" class="px-xl-5 ">
        David Nguyen / Leo Chabert
      </p>
    </div>
    <div class="d-flex flex-col justify-content-end align-items-end px-5 py-5">
      <%= image_tag "Logo-Ruby.png" , height: 214 %>
    </div>
  </div>
</div>

<div class="MainContent" >
  <h1>About us :</h1>
  <p>
      We propose a solution to save your clients base and provided services history.
  </p>
</div>

