<div class="MainContent">


  <h1 style="text-align: center">Client :</h1>

  <div class="NewClientPanel">
    <h2 style="color: white">New client</h2>
    <%= render "formNew", client: @client %>
  </div>


  <br>
  <h3 style="margin-bottom: 2%">Registered Client :</h3>
  <div id="clients">
    <% @clients.each do |client| %>
      <div class="ClientDisplay" >
        <%= render client %>
        <p>
          <%= link_to "Edit this client", edit_client_path(client) %>
        </p>
      </div>
    <% end %>
  </div>
</div>

