@import "bootstrap/scss/bootstrap";


* {
  margin:0;
  padding:0;
}

html{
  padding: 0;
  margin: 0;
  height: 100%;
}

head{
  padding: 0;
  margin: 0;
}

body{
  padding: 0;
  margin: 0;

  height: 100%;
  background-color: #767171;
}


#PageTitle {
  position: absolute;
  width: 301px;
  height: 32px;
  left: 123px;
  top: 219px;

  //font-family: 'Inter';
  //font-style: normal;
  font-weight: 500;
  font-size: 36px;
  //line-height: 32px;

  /* identical to box height, or 89% */
  letter-spacing: -0.019em;

  color: #FFFFFF;

  //border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#homeHead
{
  height: 350px;
  font-weight: 500;
  font-size: 36px;
  background-color: #8729FF;

  padding: 0;
  margin: 0;
}


.MainContent
{
  $horizontal-margin : 2%;
  margin-left: $horizontal-margin;
  margin-right: $horizontal-margin;
  margin-bottom: $horizontal-margin;

  $horizontal-padding : 3%;
  padding-right: $horizontal-padding;
  padding-left: $horizontal-padding;
  padding-top: $horizontal-padding;

  height: 100%;

  background-color: white;
}

.EditClientPanel
{
  $horizontal-padding : 3%;
  $vertical-padding : 3%;
  padding-left: $horizontal-padding;
  padding-right: $horizontal-padding;
  padding-top: $vertical-padding;
  padding-bottom: $vertical-padding;

  background-color: #8729FF;
  color: #FFFFFF;
}

.NewClientPanel
{
  $horizontal-padding : 3%;
  $vertical-padding : 3%;
  padding-left: $horizontal-padding;
  padding-right: $horizontal-padding;
  padding-top: $vertical-padding;
  padding-bottom: $vertical-padding;

  background-color: black;
}

.NewClientContent
{
  $vertical-margin : 1%;
  margin-top: $vertical-margin;
  margin-bottom: $vertical-margin;

  color: rgba(255, 255, 255, 0.5);
}

.ButtonValidate
{
  $vertical-margin : 2%;
  margin-top: $vertical-margin;

  background-color: #8729FF;
  border-color: #8729FF;

}

.ButtonValidate:hover, .ButtonValidate:focus, .ButtonValidate:active, .ButtonValidate.active, .open>.dropdown-toggle.ButtonValidate  .ButtonValidate:active:focus{

  background-color: #6116cd;
  border-color: #8729FF;
}